---
export async function getStaticPaths() {
  const database = await fetch("http://localhost:3030/api/products/displayProducts").then((response) => response.json());

  return database.map((id) => {
    return {
      params: { id: id._id },
    };
  });
}

const { id } = Astro.params;
const productData = await fetch(`http://localhost:3030/api/products/findById/${id}`).then((response) => response.json());
---

<section>
  <form id="edit-form" action={`http://localhost:3030/api/products/edit/${id}?_method=PATCH`} method="POST">
    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name" value={productData.name} required /><br /><br />

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="image" required value={productData.image} /><br /><br />

    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Enter product description" required>{productData.description}</textarea><br /><br />

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" value={productData.stock} required /><br /><br />

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value={productData.category} required /><br /><br />

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" value={productData.price} required /><br /><br />

    <label for="available">Available:</label>
    <input type="checkbox" id="available" name="available" value={productData.available} checked /><br /><br />

    <label for="shipping">Shipping:</label>
    <input type="number" id="shipping" name="shipping" value={productData.shipping} required /><br /><br />

    <button type="submit">Update Product</button>
  </form>
</section>
